body {
    margin: 0px;
    padding: 0px;
    
}

.box{
  background-color: white;
  width:100%;
  height:100%;
  border: 15px solid black;
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: 2;
  overflow: auto;
  

}

h1 {
    font-family: "Bangers";
    background-color: #ffffff;
    height: 75px;
    text-align: center;
    font-size: 55px;
    margin-top: 100px;
}

h1 li {

    display:inline;
    padding: 25px 150px 25px 150px;
    
}


h2 {
    text-align: center;
    font-size: small;
}

h2 li {
  padding: 10px;
  display:inline;
  font-family: "Bangers";
  font-size: 20px;
  font-weight: 100;
}

li a:link {
    text-decoration: none;
    color: black;
    background-color: transparent;

}
h2 li a:hover {
    color: red;
}


li a:visited {
    color: black;
}

.flex-container {
    display: flex;
    background-color: #ffffff;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
    height: 400px;
    margin-top: -22px;
}


.flex-container div {
    display: inline-block;
    align-content: center;
    font-family: "Trirong", serif;
    margin-top: 100px; 
}

.flex-container div h3 {
    position: relative;
    left: 30%;
    font-weight:300;
    font-family: "Bangers";
    font-size: 25px;
}


li {
    list-style-type: none;
}

.flex-container img:hover {
  transform: scale(1.1);
}

footer {
  color: black;
  text-align: right;
  background-color: lightgray;
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: right; /* Center horizontally */
  margin-top: 78px;
}

footer a{
  margin-right: 15px;
}


/* CONTACT CSS */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    left: 22.5%;
  }

p {
    text-align: center;
}



/* SHOWCASE IMAGES  */

.imagecontainer {
    position: relative;
}

.mySlides {
    display:none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
  }

.active,
.demo:hover {
  opacity: 1;
}

* {
    box-sizing: border-box;
  }


/* ABOUT ME */

.row1 img {
  margin-left: 250px;
  margin-top: 50px;
  display: flex;
  
}

.row1 p {
  display: flex;
  width: 600px;
  margin-top: 150px;
  padding-left: 250px;
}

.row1 {
  display: flex;
  
}
