body {
    margin: 0px;
    padding: 0px;
    
}

h1 {
    font-family: "Bangers";
    background-color: #ffffff;
    height: 75px;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}

h1 li {

    display:inline;
    padding: 25px 150px 25px 150px;
    
}


h2 {
    text-align: center;
    font-size: small;
}

h2 li {
    padding: 10px;
    display:inline;
}

li a:link {
    text-decoration: none;
    color: black;
    background-color: transparent;

}
li a:hover {
    color: red;
}


li a:visited {
    color: black;
}

.flex-container {
    display: flex;
    background-color: #ffffff;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
    height: 400px;
    margin-top: -22px;
}

.flex-container > div {
    margin-top: 100px;
    
    
}

div {
    display: inline-block;
    align-content: center;
    font-family: "Trirong", serif;
}

h3 {
    position: relative;
    left: 25%;
    font-weight: bolder;
}

li {
    list-style-type: none;
}